:root {
    --title-font: 'DM Serif Text';
    --main-font: 'Roboto';
}

body {
    background-color: #fff;
    font-family: var(--main-font);
    font-size: 19px;
}

h1, h2, h3 {
    font-family: var(--title-font);
    font-weight: 500;
    text-align: center;
}

h1 {
    color: white;
    background-color: black;
    padding: 20px;
    font-size: 30px;
}

h2 {
    font-size: 25px;
    padding: 15px;
    border-bottom: 2px solid black;
    width: 90%;
    margin: 0px auto;
}

h3 {
    text-align: left;
    font-size: 22px;
    font-family: var(--main-font);
    color: white;
    background-color: black;
    padding-left: 75px;
    margin-bottom: 12px;
    width: 90%;
    margin: 0px auto;
}

table {
    border: 2px solid black;
    width: 80%;
    margin: 0px auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

tr {
    border-bottom: 2px solid black;
}

tr:hover {
    background-color: #cccccc;
}

td, th {
    text-align: center;
    border: 2px solid black;
}

th {
    font-weight: 600;
    background-color: rgb(179, 179, 179);
}

input, label {
    margin-left: 50px;
    margin-bottom: 8px;
    margin-top: 8px;
}